body {
  color: rgb(248, 248, 248);
  font-size: 12px;
  font-style: initial;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEUBImU80oQaAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=");
}

.centrar-text {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /*genera columnas acorde al tamaño y cantidad que le pasemos*/
  grid-auto-rows: auto; /*genera filas automaticamente acorde al tamaño del contenido*/
  gap: 10px;
}

.card {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
  cursor: pointer; /* el cursor pointer cambia el cursos por una mano*/
}

.colordefondo {
  background-color: rgb(23, 23, 27);
}

.card img {
  width: 70%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

/*media query indicaz que cuando se llegue a ese tamaño o menos clases 
   que estan adentro  de la llaves que va a cambiar a lo que digan*/

@media (max-width) {
}
